#MainMenu {
    background-color: rgba(54, 58, 67, 0.45);
    width: 30%;
    height: 60%;
    bottom: auto;
    top: auto;
    position: relative;
    margin-left: 60px;
    align-items: center;
    left: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 40px;
}

.AButton {
    background-color: rgba(0, 0, 0, 0.36);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    cursor: initial;
    color: rgb(178, 178, 178);
    font-size: 40px;
    -unity-text-align: middle-center;
    width: 100%;
    -unity-font-style: bold;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -unity-font-definition: url("project://database/Assets/UI/fonts/Geist_Mono/static/GeistMono-SemiBold.ttf?fileID=12800000&guid=ae4391db741d57045bc53352d5289259&type=3#GeistMono-SemiBold");
}

.AButton:hover {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    cursor: initial;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    -unity-paragraph-spacing: 0;
    color: rgb(255, 255, 255);
}

#Settings {
    position: absolute;
    align-self: center;
    display: none;
    width: 100%;
    height: 100%;
}

.SettingWindow {
    background-color: rgba(27, 27, 27, 0.69);
    width: 1400px;
    height: 741px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.closeSettings {
    top: -5%;
    right: 0%;
    position: absolute;
    translate: 50% 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 15px;
}

.settingsTab {
    background-color: rgb(0, 0, 0);
}

#SettingsTabs {
}

#SettingsTabs .unity-tab__header {
    background-color: rgb(142, 127, 127);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
    padding-bottom: 10px;
    translate: 0% 10px;
    transition-property: translate;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

#SettingsTabs .unity-tab__header:checked {
    background-color: rgb(117, 117, 117);
    border-bottom-width: 0;
    border-bottom-color: rgba(0, 0, 0, 0);
    translate: 0% 0;
    scale: 1 1;
}

#SettingsTabs .unity-tab__header:hover {
    background-color: rgb(80, 80, 80);
}
